<!DOCTYPE html>
<html>
<head>
  <title>Sample Rails App - <%= @title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">All4one <%= image_tag("bee-margot.svg") %></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="#signin" role="button" data-toggle="modal">Sign In</a></li>
          <li><%= link_to "Price List" %></li>
          <li><%= link_to "Contact Us" %></li>
          <li><%= link_to "Cart" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<h2>Yield not to Temptation!</h2>
		<p>skdjhfds sjdhf kljshdf kjshfd kjhs  jhasdfkj hsdflksjdf
		 skjdhflk jhsldfj haskdjf lkjasdhf lkjhsdkjhf sdf 
		 slkjdhflkj hskdjhf lkjshdkj as
		 sdfkjh lasdjhfl kjhaskdjhfkjh a
		 sdfk jhasdfh lkjasdlkj hflasdhfkjh lskjdhfkh sd
		 f lkjhsdflk jhalksdjhf lkjshdlfjh a
		 sdfkjh laksdflkj hlkasdfhkj hsdflkj ldkjf sdf .</p>
	</div>
</div>


<%= yield %>

</body>
</html>
